			     <div id="myDiv">
					<div class="page-title">		
						<i class="icon-custom-left" id="back-user-table"></i>
						<h3><span class="semi-bold">Bulk Add</span></h3>	<br>
						You can add all your user at one go
					</div>
					Your csv must be in the following format Email Address, Name, Telephone Number
					<br><p class="text-success">eg: Micheal_sal@gmail.com, Micheal Saldana, 0456565555</p>
					<div class="form-group">
					
					<input type="file" id="exampleInputFile" class="btn btn-primary">
					<p class="help-block"> <a href="#">Sample CSV.</a></p>
				  </div>
				</div>