#order_data{
	.order_data_column_container{
		.order_data_column{
			width: 98%;
			border-bottom: 1px solid #E2E2E2;
			padding-bottom: 20px;
			.form-field-wide{
				width: 50%;
				float: left;
				clear: none;
			}
			&:nth-child(3n){
				display: none;
			}
			&:nth-child(2n){
				border: none;
			}
			.wc-customer-user{
				display: none;
			}
			.address{
				float: left;
				width: 50%;
				height: 300px;
				p:nth-child(2n){
					display: none;
				}
			}
			&>p{
				float: left;
				width: 50%;
			}
		}
	}
}

#order_shipping_line_items{
	display: none;
}

.wc-order-totals{
	tbody{
		tr:nth-child(1), tr:nth-child(2){
			display: none;
		}
	}
}

.order_actions{
	#actions{
		display: none;
	}
}

td.ordertitle a {
   pointer-events: none;
   cursor: default;
   color: #000;
}