<div class="form-wizard-steps">
                      <ul class="wizard-steps clearfix">
                        <li id="lireferrals" class="active" data-target="#step1"> <a href="#tab1" id="changeInfoView" data-toggle="tab">  <span class="title">Referrals</span> </a> </li>
                        <li id="lirewards" data-target="#step2" class=""> <a href="#display" id="changeView" data-toggle="tab">  <span class="title">Rewards</span> </a> </li>
                        <li id="lishipping" data-target="#step3"   > <a id="userstep3" href="#tab3">  <span class="title">Delivery</span> </a> </li>
                       <!-- <li data-target="#step4" class=""> <a href="#tab4" data-toggle="tab"> <span class="step">4</span> <span class="title">Feedback <br>
                          </span> </a> </li>-->
                     </ul><input type="hidden" name="optionval" id="optionval" value="2" />
                      <div class="clearfix"></div>
                    </div>