
<a href="#" class="dropdown-toggle" id="my-task-list" data-placement="bottom"  data-content='' data-toggle="dropdown" >
    <div class="user-details"> 
        <div class="username">
           		<span class="light_grey">Logged in as:</span>						
        </div>						
    </div> 
    <div class="iconset top-chat-dark pull-right"></div>
</a>	

<div id="notification-list" class="popover fade bottom in" style="display:none; top: 52px; left: -56.9667px;">
        <div class="arrow"></div>
<h3 class="popover-title"></h3>
    <div class="popover-content">
    <div style="width:200px">
        <div class="notification-messages success">
            <div class="message-wrapper">
                <div class="heading"></div>
                <div class="description"></div>
                <div class="date pull-left"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <button type="button" class="btn btn-white btn-xs btn-mini" onclick="location.href = '../../Skyi/dashboard';">Dashbord</button>
        <button type="button" id="logout" class="btn btn-primary btn-xs btn-mini" >Logout</button>							
    </div>	
</div>
</div>

