<div class="header-seperation"> 
    <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">	
        <li class="dropdown"> <a id="main-menu-toggle" href="#main-menu"  class="" > <div class="iconset top-menu-toggle-white"></div> </a> </li>		 
    </ul>
    <!-- BEGIN LOGO -->	
    <a href="../../Skyi/dashboard"><img src="../../html/assets/img/skyi-logo.png" class="logo" alt=""  data-src="assets/img/skyi-logo.png" height="40px" /></a>
    <!-- END LOGO --> 
</div>
<!-- END RESPONSIVE MENU TOGGLER --> 
<div class="header-quick-nav" > 
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div id="header-left-region" class="pull-left"> 
        
    </div>
    <!-- END TOP NAVIGATION MENU -->
    <!-- BEGIN CHAT TOGGLER -->
    <div id="header-right-region" class="pull-right"> 

    </div>
    <!-- END CHAT TOGGLER -->
</div> 
<!-- END TOP NAVIGATION MENU --> 