 <br>
                        <!--<h4 class="semi-bold">Step 1 - <span class="light">Reviews</span></h4>-->
                         <div class="row">
                          <div class="col-md-12 desc-text">
                            <p class="semi-bold">Welcome to the Rewards Program, <span id="pm-name"></span></p>
                            <h4 class="no-margin inline semi-bold"><div id="counter_val">0</div></h4> of your referrals have become SKYi customers, and you have earned points! If you'd like to redeem your points, take a look at the reward packages you are eligible for and make a selection. 
                          </div>
                          <div class="col-md-4">
                            <div class="tiles points-earned">
                              <p class="no-margin p-t-10 point-label inline">Points Earned: </p>
                              <h3 class="subheader inline"><div id="pointer_val">0</div></h3>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="tiles redemption-status">
                              <h5 class="status-label inline">Current Status: </h5>
                                <div id="redemption_status" class="inline status"></div>
                                <!--<button type="button" class="btn btn-danger btn-cons" id="inititate-redemt">Initiate Redemption »</button>-->
                                <div id="redemption_msg" class=""></div>
                                <!-- <p>Animate your icons in just a click!</p> -->
                                <br>
                                <a href="#display" id="changeView" data-toggle="tab" class="pull-right">Next <span class="glyphicon glyphicon-chevron-right"></span></a>
                                <div class="clearfix"></div>
                            </div>
                          </div>
                        <div id="display_msg"></div>
                         </div>
                         <div id="caannot_initiate_msg" class="ref_msg alert alert-error m-b-5 m-t-20 hidden"><button data-dismiss="alert" class="close"></button>You cannot initiate redemption with zero points.</div>

                      <div class="info-boxed">
                        <div class="row">
                          <div class="col-md-12">
                              <div class="grid simple ">
                                  <div class="grid-body" style="display: block;">
                                          <table id="customer_table" class="table no-more-tables">
                                              <thead>
                                                  <tr>
                                                      <th class="width5">s.no.</th>
                                                      <th class="width20">Name</th>
                                                      <th class="width20">Mobile</th>
                                                      <th class="width20">Email</th>
                                                      <th class="width15">Conversion Date</th>
                                                      <th class="width15">Expiry</th>
                                                      <th class="width5">Points</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  
                                              </tbody>
                                          </table>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>

                     
                    
    