<div class="row">
                          <div class="col-md-12 desc-text">
                            <p class="m-b-10">
                            Below is a list of reward packages that you are eligible for. Select one and click 'Continue'. 
                            <br>
                            <small>Please note: You cannot do a partial redemption of points. All your points will be used for a redemption, even if you choose a reward package with points less than your earned points.</small>
                            </p>
                          </div>
                          <div class="col-md-4">
                            <div class="tiles points-earned">
                              <p class="no-margin p-t-10 point-label inline">Points Earned: </p>
                              <h3 class="subheader text-center inline"><div id="pointer_val">0</div></h3>
                              <input type="hidden" id="pointer_val_field" name="pointer_val_field" value="" />
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="tiles redemption-status">
                              <h5 class="status-label inline">Current Status: </h5>
                              <div id="redemption_status" class="inline status"></div>
                              <div id="redemption_msg" class=""></div>
                              <a href="#tab3" class="pull-right" data-toggle="tab" id="confirm_redempt">Continue <span class="glyphicon glyphicon-chevron-right"></span></a>
                              <div id="rewards_msg" class=" inline" ></div>
                                <!--<button type="button" class="btn btn-danger btn-cons" id="btn-animate-icon">add shipping details »</button>-->
                                <!-- <p>Animate your icons in just a click!</p> -->
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>
                        <div class="info-boxed">
                          <div class="radio rewards" id="rewardsdata">

                          </div>
                        </div>