<div class="page-title">		
		<h3><span class="semi-bold">Rewards </span>Dashboard</h3>	
	</div>
		<!-- Referrals -->
			 <div class="row">
				<div class="col-md-6">
				  <div class="tiles green ">
					  <div class="tiles-body">
						<div class=""><h3 class="text-white semi-bold">Program Members</h3></div>
						<div class="tiles-title pull-left"> <h4 class="text-white">No. of New Program Members Added : &nbsp; </h4></div>
						<div class="heading"><h1 class="semi-bold text-white">  <span class="animate-number program_member " data-animation-duration="100"></span></h1> </div>

						<div class="tiles-title pull-left m-t-5 m-r-10"> <h4 class="text-white">No. of Program Members Added : &nbsp; </h4></div>

					<div class="widget-stats m-b-10">
                      <div class="wrapper transparent"> 
						<span class="item-title">Yesterday </span> <span class="item-count animate-number semi-bold pgm_yest"  data-animation-duration="10"></span>
					  </div>
                    </div>
                    <div class="widget-stats m-b-10">
                      <div class="">
						<span class="item-title">Last Week </span> <span class="item-count animate-number semi-bold pgm_lastweek"  data-animation-duration="50"></span> 
					  </div>
                    </div>
						
						<div class="description"><a href="#view"><i class="icon-custom-right"></i>
						<span class="text-white mini-description ">&nbsp; View All</span></a></div>
					  </div>
					</div>
				</div>
				<div class="col-md-6">
				  <div class="tiles red ">
					  <div class="tiles-body">
						<div class=""><h3 class="text-white semi-bold">Referrals</h3></div>
						<div class="tiles-title pull-left"> <h4 class="text-white">Total No. Of Referrals : &nbsp; </h4></div>
						<div class="heading"><h1 class="semi-bold text-white">  <span class="animate-number ref_count" data-animation-duration="100"></span></h1> </div>

						<div class="tiles-title pull-left m-t-5 m-r-10"> <h4 class="text-white">No. of New Referrals Added : &nbsp; </h4></div>

					<div class="widget-stats m-b-10">
                      <div class="wrapper transparent"> 
						<span class="item-title">Yesterday </span> <span class="item-count animate-number semi-bold ref_yest"  data-animation-duration="10"></span>
					  </div>
                    </div>
                    <div class="widget-stats m-b-10">
                      <div class="">
						<span class="item-title">Last Week </span> <span class="item-count animate-number semi-bold ref_lastweek"  data-animation-duration="50"></span> 
					  </div>
                    </div>
						
						<div class="description"><a href="#referrals"><i class="icon-custom-right"></i>
						<span class="text-white mini-description ">&nbsp; View All</span></a></div>
					  </div>
					</div>
				</div>
			 </div>
			 <br>
			 <!-- End Referrals -->
			 <div class="row">
				<div class="col-md-6">
					<div class="tiles white simple vertical ">
							<div class="tiles-body">
								<div class=""><h3 class="semi-bold">Points</h3></div>
								<h4>Customer database <span class="semi-bold">CSV </span><small> was last imported on : </small> <div class=" Pull-right" id="btn-new-ticket">{{date}}</div></h4>
								<div class="row ">
										<div class="col-md-12 ">
										   <address class="margin-bottom-20 margin-top-10">
												<strong >Points given :</strong><span class="points"></span><br><br>
												<strong>No. of referrals marked as 'Converted' :</strong> <span class="converted"></span><br><br>
												<strong >No. of Program Members given points :</strong><span class="program"></span><br>
											</address>	
											<button type="button" class="btn btn-primary btn-sm btn-small Pull-right" id="btn-new-ticket" onclick="location.href='#Import'">Import</button>
										</div>
								</div>
							</div>
						</div>
				</div>
				<div class="col-md-6">
				  <div class="tiles white">
					  <div class="tiles-body">
						<div class=""><h3 class="semi-bold">Redemptions</h3></div>
						<div class="tiles-title pull-left"> <h4 class="">No. of Pending Redemptions : &nbsp; </h4></div>
						<div class="heading"><h1 class="semi-bold ">  <span class="animate-number redem_count " data-animation-duration="100"></span></h1> </div>

						<div class="tiles-title pull-left m-t-5 m-r-10"> <h4 class="">No. of Redemptions Completed till date : &nbsp; </h4></div>

					<div class="widget-stats m-b-10">
                      <div class="wrapper transparent"> 
						<span class="item-title">Completed Yesterday </span> <span class="item-count animate-number semi-bold redem_yesterday"  data-animation-duration="10"></span>
					  </div>
                    </div>
                    <div class="widget-stats m-b-10">
                      <div class="">
						<span class="item-title">Completed Last Week</span> <span class="item-count animate-number semi-bold  redem_lastweek"  data-animation-duration="50"></span> 
					  </div>
                    </div>
						
						<div class="description"><a href="#redemptions"><i class="txt_original icon-custom-right"></i>
						<span class="mini-description ">&nbsp; View All</span></a></div>
					  </div>
					</div>
				</div>

  </div>