<div class="row">
    <div class="col-md-12">
        <div class="grid-body referral-table">
            <table id="inventoryProduct_table" class="table no-more-tables">
                <thead>
                <tr>
                    <th >Product<span class="arrow"></span></th>
                    <th class="{sorter: 'digit'}">No of Closed R<span class="arrow"></span></th>
                    <th class="{sorter: 'digit'}">No of Confirmed R<span class="arrow"></span></th>
                    <th class="{sorter: 'digit'}">No of Initiated R<span class="arrow"></span></th>
                    <th class="{sorter: 'digit'}">No of Approved R<span class="arrow"></span></th>
                </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>

                <tr>
                    <td class="pager" colspan="5">
                        <img src="http://mottie.github.com/tablesorter/addons/pager/icons/first.png" class="first"/>
                        <img src="http://mottie.github.com/tablesorter/addons/pager/icons/prev.png" class="prev"/>
                        <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                        <img src="http://mottie.github.com/tablesorter/addons/pager/icons/next.png" class="next"/>
                        <img src="http://mottie.github.com/tablesorter/addons/pager/icons/last.png" class="last"/>

                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>